<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ space.title }}</title>
    <meta name="description" content="{{ space.summary }}">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | image_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ 'style.css' | stylesheet_url }}">
    {{ space.google_analytics }}
  </head>
  <body>
    {{ yield }}
    <script src="{{ 'main.js' | javascript_url }}"></script>
  </body>
</html>
